.Modal {
}

.Modal_Type_ModalWithForm {
}

.ModalWithForm {
  /* visibility: hidden; */
  /* opacity: 0; */
  /* transition: visibility 0.5s linear, opacity 0.25s linear; */

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ModalWithForm__Container {
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  position: relative;

  display: block;

  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 498px;
  background-color: white;
}

.ModalWithForm__Form {
}

.ModalWithForm__Title {
}

.ModalWithForm__Label {
}

.ModalWithForm__Input {
}

.ModalWithForm__RadioBtn-Wrapper {
}

.ModalWithForm__RadioBtn-Title {
}

.ModalWithForm__Btn-AddGarments {
}

.ModalWithForm__Btn-Close {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 26px;
  right: 26px;
  padding: 0;

  object-fit: cover;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../../images/Close-Icon.svg);
  border: none;
  opacity: 0.7;

  cursor: pointer;
  transition: opacity 0.25s linear;
}
