.profile {
  display: flex;
  flex-direction: row;

  margin: 47px 0 0 0;
}

.profile__sideBar {
}

.profile__clothesSection {
  flex-grow: 1;
}

@media screen and (max-width: 627px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
