/* ------------------------ Global Modal ---------------------- */

.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.25s linear;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  margin: 0 auto;
  padding: 28px 28px 36px;
  z-index: 1;
  position: relative;

  display: block;

  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 498px;
  background-color: white;

  font-family: Cabinet Grotesk;
  font-size: 16px;
  line-height: 20px;
}

.modal__close-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 26px;
  right: 26px;
  padding: 0;

  object-fit: cover;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../../images/Close-Icon.svg);
  border: none;
  opacity: 0.7;

  cursor: pointer;
  transition: opacity 0.25s linear;
}

/* ------------------------ Add Clothes Modal ---------------------- */

.modal_type_add-clothes {
}

.modal-with-form__form {
  display: flex;
  flex-direction: column;
}

.modal-with-form__title {
  margin: 0;
}

.modal-with-form__label-text {
  margin: 24px 0 0;

  width: 100%;
  height: 100%;
  gap: 8px;

  display: flex;
  flex-direction: column;
}

.modal-with-form__input-text {
  margin: 0;
  padding: 0;

  border: none;
  border-bottom: 1px solid #000000;
}

.modal-with-form__input-radio {
  margin: 0 8px 0 0;
}

.modal-with-form__radio-btn-wrapper {
  display: flex;
  flex-direction: column;

  max-width: 173px;
}

.modal-with-form__radio-btn-title {
  margin: 24px 0 12px;
}

.modal-with-form__label-radio {
  margin: 0 0 8px;
}

.modal-with-form__btn-add-garment {
  margin: 24px 0 0;
  padding: 8px 16px;

  width: 124px;
  height: 36px;
  border: none;
  border-radius: 8px;

  background-color: #000000;

  font-size: 15px;
  color: #ffffff;
}

.modal__close-btn_type_add-clothes {
  top: 20px;
  right: 28px;

  width: 20px;
  height: 20px;
  background-image: url(../../images/Close-Icon-Gray.png);
  background-repeat: no-repeat;
}

/* ------------------------ Item Modal ---------------------- */

.modal_type_item {
}

.modal__container_type_item {
  padding: 0;
}

.item-modal__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.item-modal__text-wrapper {
  padding: 20px 32px 32px;

  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.item-modal__title {
  margin: 0 0 12px;
}

.item-modal__description {
  margin: 0;
}
