.ItemCard {
  margin: 0;

  width: 100%;
}

.ItemCard__CurrentTemp {
  margin: 0;
  width: 343px;
  height: 25px;

  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}

.ItemCards {
  margin: 34px 0 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 328px));
  justify-content: space-around;
  gap: 20px;

  list-style-type: none;
}

.Item {
  width: 325px;
  height: 328px;

  position: relative;
}

.Item__Image {
  width: 325px;
  height: 328px;
  border: 1px solid rgb(152, 152, 152);
  border-radius: 10px;
}

.Item__Text {
  margin: 0;
  padding: 2px 12px;

  width: 73px;
  height: 24px;

  position: absolute;
  top: 15px;
  right: 115px;

  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;

  background-color: white;
  border-radius: 7px;
}
