.card {
  width: 325px;
  height: 328px;

  position: relative;

  cursor: pointer;
}

.card__image {
  width: 325px;
  height: 328px;
  border: 1px solid rgb(152, 152, 152);
  border-radius: 10px;
}

.card__text {
  margin: 0;
  padding: 2px 12px;

  width: 73px;
  height: 21px;

  position: absolute;
  top: 15px;
  right: 115px;

  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  background-color: white;
  border-radius: 7px;
}

.card__like-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.card__like-button_liked {
  color: red;
  cursor: pointer;
}
