.clothingItems {
  display: flex;
  flex-direction: column;
}

.clothingItems__text-wrapper {
  display: flex;
  flex-direction: row;

  gap: 20px;

  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 100%;
}

.clothingItems__title {
  color: #000000;
}

.clothingItems__add-btn {
  color: #00000099;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.clothingItems__list {
  margin: 34px 0 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;

  list-style-type: none;
}

@media screen and (max-width: 627px) {
  .clothingItems {
    align-items: center;
  }

  .clothingItems__list {
    justify-content: center;
  }
}
